<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <!-- Permissions for video call -->
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TASHTIT"
        tools:targetApi="31">
        <activity
            android:name=".ACTIVITIES.EventResponseActivity"
            android:exported="false" />
        <activity
            android:name=".ACTIVITIES.SettingsActivity"
            android:exported="false" />
        <activity
            android:name=".ACTIVITIES.ChatListActivity"
            android:exported="false" />
        <activity
            android:name=".ACTIVITIES.ChatActivity"
            android:exported="false" />
        <activity
            android:name=".ACTIVITIES.PendingRequestsActivity"
            android:exported="false" />
        <activity
            android:name=".ACTIVITIES.UserProfileActivity"
            android:exported="false" />
        <activity
            android:name=".ACTIVITIES.AddEventActivity"
            android:exported="false" />
        <activity
            android:name=".ACTIVITIES.VideoActivity"
            android:exported="false" />
        <activity
            android:name=".ACTIVITIES.FriendsListActivity"
            android:exported="false" />
        <activity
            android:name=".ACTIVITIES.HomeActivity"
            android:exported="false" />
        <activity
            android:name=".ACTIVITIES.CreateAccountActivity"
            android:exported="false" />
        <activity
            android:name=".ACTIVITIES.LogInActivity"
            android:exported="false" />
        <activity
            android:name=".ACTIVITIES.BASE.BaseActivity"
            android:exported="false" />
        <activity
            android:name=".ACTIVITIES.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>